<h1>Runners</h1>

<%= search_form_for @q, :url => race_runners_path(@race) do |f| %>
  <fieldset>
    <%= f.label :name_cont %>
    <%= f.text_field :name_cont %>
    <%= f.submit %>
  </fieldset>
<% end %>

<%= will_paginate @runners %>

<table class="table race_runners" data-source="<%= datatable_api_race_runners_path(@race, :format => 'json') %>">
  <thead>
    <tr>
      <th class="number">Place</th>
      <th>Name</th>
      <th class="center">Sex</th>
      <th class="center">Age group</th>
      <th class="number">Time</th>
      <th class="number">Pace</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @runners.each do |runner| %>
      <tr>
        <td class="number"><%= runner.place %></td>
        <td><%= link_to runner.name, race_runner_path(@race,runner) %></td>
        <td class="center"><%= runner.sex %></td>
        <td class="center"><%= runner.age_group %></td>
        <td class="number"><%= runner.net_time %></td>
        <td class="number"><%= runner.net_pace %></td>
        <td><%= [ runner.city, runner.state, runner.country ].reject(&:blank?).join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @runners %>
