<h1>Runners</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Place in sex</th>
      <th>Age group</th>
      <th>Place in age group</th>
      <th>Time</th>
      <th>Pace</th>
      <th>Country</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @runners.each do |runner| %>
      <tr>
        <td><%= runner.place %></td>
        <td><%= link_to runner.name, race_runner_path(@race,runner) %></td>
        <td><%= runner.sex %></td>
        <td><%= runner.place_in_sex %></td>
        <td><%= runner.age_group %></td>
        <td><%= runner.place_in_age_group %></td>
        <td><%= runner.net_time %></td>
        <td><%= runner.net_pace %></td>
        <td><%= runner.country %></td>
        <td><%= runner.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
